// button
.button {
    display: block;
    width: fit-content;
    border: 0;
    border-radius: 8px;
    cursor: pointer;  
    font-size: 14px;
    line-height: 24px;

    display: flex;
    align-items: center;
    gap: 8px;  

    &:disabled {
        background-color: var(--bg-disable);
        color: var(--text-disabled);
        pointer-events: none;
        outline: 0;

        &.button--dropdown::after {
            background-color: var(--text-disabled);
        }
    }
    
    
    &--primary {
        background-color: var(--primary-500);
        color: var(--text-white);

        &:hover, &:focus {
            box-shadow: 0px 2px 8px 0px #00429780;
        }
        &:active  {
            background-color: var(--primary-600);
        }
        &.button--dropdown::after {
            background-color: var(--neutral-0);
        }
    }
    &--primary-alt {
        background-color: var(--primary-50);
        color: var(--text-link);

        &:hover, &:focus {
            background-color: #E5F1FF;
            box-shadow: 0px 2px 8px 0px #CCE2FF80;
        }
        &:active  {
            background-color: var(--primary-100);
        }
        &.button--dropdown::after {
            background-color: var(--text-link);
        }
    }
    &--regular {
        background-color: var(--neutral-60);
        color: var(--text-base);

        &:hover, &:focus {
            box-shadow: 0px 2px 8px 0px #E0E5EB80;
        }
        &:active  {
            background-color: var(--neutral-100);
        }
        &.button--dropdown::after {
            background-color: var(--text-base);
        }
    }
    &--regular-alt {
        background-color: var(--neutral-0);
        color: var(--text-base);
        outline: 1px solid  var(--neutral-100);

        &:hover, &:focus {
            box-shadow: 0px 2px 8px 0px #E0E5EB80;
            outline: 1px solid  var(--neutral-100);
        }
        &:active  {
            background-color: var(--neutral-100);
            outline: 0;
        }
        &.button--dropdown::after {
            background-color: var(--text-base);
        }
    }
    &--green {
        background-color: var(--green-500);
        color: var(--text-white);

        &:hover, &:focus {
            box-shadow: 0px 2px 8px 0px #E0E5EB80;
        }
        &:active  {
            background-color: var(--green-500);
        }
        &.button--dropdown::after {
            background-color: var(--text-white);
        }
    }
    &--green-alt {
        background-color: var(--green-50);
        color: var(--green-500);

        &:hover, &:focus {
            box-shadow: 0px 2px 8px 0px #CCFECF80;
        }
        &:active  {
            background-color: var(--green-100);
        }
        &.button--dropdown::after {
            background-color: var(--green-500);
        }
    }

    &--no-body {
        background-color: transparent;
        outline: 0;
    }

    &--large {
        padding: 12px 16px;
        @include text-weight('semibold');
    }
    &--medium {
        padding: 8px 12px;
    }
    &--small {
        padding: 8px;
        font-size: 12px;
        line-height: 16px;
    }


    &--dropdown {
        &::after {
            content: '';
            display: block;
            width: 10px;
            height: 6px;
            background-repeat: no-repeat;
            background-position: center;
            // background-color: #fff;
            
        }
        &::after {
            -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01IDZMMCAxLjI2Njk5TDEuMzM4NDYgMEw1IDMuNDY2MDJMOC42NjE1NCAwTDEwIDEuMjY2OTlMNSA2WiIgZmlsbD0iY3VycmVudENvbG9yIi8+Cjwvc3ZnPgo=");
            mask: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01IDZMMCAxLjI2Njk5TDEuMzM4NDYgMEw1IDMuNDY2MDJMOC42NjE1NCAwTDEwIDEuMjY2OTlMNSA2WiIgZmlsbD0iY3VycmVudENvbG9yIi8+Cjwvc3ZnPgo=");
        }

        &.is-open {
            &::after {
                transform: rotate(180deg);
            }
        }
    }

}

.button-group {
    display: flex;
    gap: 8px;
    align-items: center;
}

