// button
.button {
    display: block;
    width: fit-content;
    border: 0;
    border-radius: var(--radius-8);
    cursor: pointer;    
    
    
    &--primary {
        background-color: var(--primary-500);
        color: var(--text-white);

        &:hover {
            box-shadow: 0px 2px 8px 0px #00429780;
        }
        &:active  {
            background-color: var(--primary-600);
        }
    }
    &--primary-alt {
        background-color: var(--primary-50);
        color: var(--text-primary);

        &:hover {
            box-shadow: 0px 2px 8px 0px #CCE2FF80;
        }
        &:active  {
            background-color: var(--primary-100);
        }
    }
    &--regular {
        background-color: var(--neutral-60);
        color: var(--text-base);

        &:hover {
            box-shadow: 0px 2px 8px 0px #E0E5EB80;
        }
        &:active  {
            background-color: var(---neutral-100);
        }
    }
    &--regular-alt {
        background-color: var(--neutral-0);
        color: var(--text-base);
        outline: 1px solid  var(--neutral-100);

        &:hover {
            box-shadow: 0px 2px 8px 0px #E0E5EB80;
        }
        &:active  {
            background-color: var(---neutral-60);
        }
    }

    &--large {
        padding: var(--spacing-12) var(--spacing-16);
        font-size: 14px;        
        line-height: 24px;
        font-weight: 600;
    }
    &--medium {
        padding: var(--spacing-8) var(--spacing-12);
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
    }
    &--small {
        padding: var(--spacing-8);
        font-size: 12px;
        line-height: 16px;
    }
}