.field {
    position: relative;
    font-size: 14px;
    line-height: 24px;


    &__label {
        display: block;
        width: 100%;
        height: 48px;
        padding: 12px 8px;
        background-color: var(--neutral-50);   
        border-radius: var(--radius-8);     
        transition: all 0.2s ease;
        outline-color: var(--field-ouline);
        cursor: text; 
    }

    &__caption {
        position: absolute;
        left: 8px;
        top: 50%;
        color: var(--neutral-500);
        transform: translateY(-50%);
        pointer-events: none;
        user-select: none;
        transition: all 0.2s ease;
    }

    &__input {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 8px;
        width: 95%;
        color: var(--neutral-700);
        margin-top: 6px;
        background-color: transparent;
        border: 0;
        outline: 0;
        user-select: none;        

        &::placeholder {
            color: transparent;
        }

        &:disabled + .field__label {
            background-color: var(--field-disabled-bg);
        }

        &:disabled + .field__label .field__caption {
            color: var(--field-disabled-text);
        }

        &:focus + .field__label {
            outline: 1px solid var(--field-ouline);
        }

    }

    &__backdrop {
        display: none;
        position: absolute;
        background-color: #fff;
        z-index: 99;
        padding: 10px;
        border: 1px solid black;
    }

    &--text {
        
        .field__input {
            // смещение caption при фокусе и заполненном input
            &:focus + .field__label .field__caption,
            &:not(:placeholder-shown) + .field__label .field__caption {
                top: 12px;
                font-size: 11px;
                line-height: 16px;
                color: var(--neutral-400);
            }
            // label при заполненном input
            &:not(:placeholder-shown) + .field__label {
                background-color: var(--primary-50);            
            }
        }
    }

    &--select {
        cursor: pointer;
        
        .field__label, .field__input {
            cursor: pointer;
            pointer-events: none;
        }        
        

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 8px;
            width: 16px;
            height: 16px;
            transform: translateY(-50%);
            background-image: url('../../img/filter-arrow-down.svg');
            background-position: center;
            background-repeat: no-repeat;
            z-index: 2;
        }

        &.is-open {
            .field__label {
                outline: 1px solid var(--field-ouline);
            }
            .field__backdrop {
                display: block;
            }
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}


// .field-2 {
//     position: relative;

//     &__label {
//         position: relative;
//         display: block;
//         padding: var(--spacing-12) var(--spacing-8);
//         background-color: var(--neutral-50);
//         font-size: 14px;
//         border-radius: var(--radius-8);
//         cursor: text;

//         &:focus-within {
//             outline: 1px solid var(--neutral-200);
//         }
//     }

//     &__input {
//         width: 100%;
//         background-color: transparent;
//         font-size: 14px;
//         line-height: 24px;
//         color: var(--neutral-700);
//         border: 0;
//         outline: 0;
//         transform: translateY(6px);

//         &::placeholder {
//             color: transparent;
//         }

//         /* При фокусе */
//         &:focus + .field__caption,
//         /* Если инпут заполнен */
//         &:not(:placeholder-shown) + .field__caption {
//             top: 12px;
//             font-size: 11px;
//             color: var(--neutral-400);
//         }

//         // &:focus {
//         //     outline: 1px solid var(--neutral-200);
//         // }


//     }

//     &__caption {
//         position: absolute;
//         left: 8px;
//         top:  50%;
//         transform: translateY(-50%);
//         user-select: none;
//         pointer-events: none;
//         color: var(--neutral-500);
//         transition: all 0.2s ease;
//     }

// }

