.field-dropdown {
    position: relative;
    cursor: pointer;
    width: 100%;

    &__label {
        display: block;
        width: 100%;
        height: 48px;
        padding: 12px 8px;
        background-color: var(--neutral-50);   
        border-radius: 8px;     
        transition: all 0.2s ease;
        outline-color: var(--field-ouline);
        // cursor: text; 

        cursor: pointer;
        pointer-events: none;
    }

    &__caption {
        position: absolute;
        left: 8px;
        top: 50%;
        color: var(--neutral-500);
        transform: translateY(-50%);
        pointer-events: none;
        user-select: none;
        transition: all 0.2s ease;
    }

    &__input {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 8px;
        width: 95%;
        color: var(--neutral-700);
        margin-top: 6px;
        background-color: transparent;
        border: 0;
        outline: 0;
        user-select: none;    
        
        cursor: pointer;
        pointer-events: none;

        &::placeholder {
            color: transparent;
        }

        &:disabled + .field__label {
            background-color: var(--field-disabled-bg);
        }

        &:disabled + .field__label .field__caption {
            color: var(--field-disabled-text);
        }

        &:focus + .field__label {
            outline: 1px solid var(--field-ouline);
        }

    }

    &__backdrop {
        padding: 10px;
        display: none;
        position: absolute;
        width: 100%;
        background-color: #fff;
        z-index: 99;
        border: 1px solid black;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 8px;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
        background-image: url('../../img/filter-arrow-down.svg');
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
    }

    &.is-open {
        .field-dropdown__label {
            outline: 1px solid var(--field-ouline);
        }
        .field-dropdown__backdrop {
            display: block;
        }
        &::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    &.selected {
        .field-dropdown__caption {
            top: 12px;
            font-size: 11px;
            line-height: 16px;
            color: var(--neutral-400);
        }
    }

    // &--text {
        
    //     .field__input {
    //         // смещение caption при фокусе и заполненном input
    //         &:focus + .field__label .field__caption,
    //         &:not(:placeholder-shown) + .field__label .field__caption {
    //             top: 12px;
    //             font-size: 11px;
    //             line-height: 16px;
    //             color: var(--neutral-400);
    //         }
    //         // label при заполненном input
    //         &:not(:placeholder-shown) + .field__label {
    //             background-color: var(--primary-50);            
    //         }
    //     }
    // }

   
}


.field-checkbox {
    position: relative;

    &__label {
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 6px;
            background-color: var(--neutral-60);
            
        }
    }

    &__input {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        opacity: 0;
        cursor: pointer;

        &:checked + .field-checkbox__label::before {
            background-color: var(--primary-500);;
        }
    }
}