.field-dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;

    &__label {
        display: block;
        width: 100%;
        height: 48px;
        padding: 12px 8px;
        background-color: var(--neutral-50);   
        border-radius: 8px;     
        transition: all 0.2s ease;
        outline-color: var(--field-ouline);
        pointer-events: none;
    }

    &__caption {
        position: absolute;
        left: 8px;
        top: 50%;
        color: var(--neutral-500);
        transform: translateY(-50%);
        pointer-events: none;
        user-select: none;
        transition: all 0.2s ease;
    }

    &__input {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 8px;
        width: 95%;
        color: var(--neutral-700);
        margin-top: 6px;
        background-color: transparent;
        border: 0;
        outline: 0;
        user-select: none;        

        pointer-events: none;

        &::placeholder {
            color: transparent;
        }

        &:disabled + .field-dropdown__label {
            background-color: var(--field-disabled-bg);
        }

        &:disabled + .field-dropdown__label .field-dropdown__caption {
            color: var(--field-disabled-text);
        }
        &:disabled + .field-dropdown__label {
            pointer-events: none;
        }

        &:focus-visible + .field-dropdown__label {
            outline: 1px solid var(--field-ouline);
        }

    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 8px;
        width: 16px;
        height: 16px;
        transform: translateY(-50%);
        background-image: url('../../img/filter-arrow-down.svg');
        background-position: center;
        background-repeat: no-repeat;
        z-index: 2;
    }

    &.is-open {
        .field-dropdown__label {
            outline: 1px solid var(--field-ouline);
        }
        .dropdown-backdrop {
            display: block;
        }
        &::after {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    &.selected {
        .field-dropdown__caption {
            top: 12px;
            font-size: 11px;
            line-height: 16px;
            color: var(--neutral-400);
        }
        .field-dropdown__label {
            background-color: var(--primary-50);
        }

        

    }

    &.disabled {
        pointer-events: none;
    }


   
}

.field-text {
    position: relative;

    &__label {
        display: block;
        width: 100%;
        height: 48px;
        padding: 12px 8px;
        background-color: var(--neutral-50);   
        border-radius: 8px;     
        transition: all 0.2s ease;
        outline-color: var(--field-ouline);
        pointer-events: none;
    }

    &__caption {
        position: absolute;
        left: 8px;
        top: 50%;
        color: var(--neutral-500);
        transform: translateY(-50%);
        pointer-events: none;
        user-select: none;
        transition: all 0.2s ease;
    }

    &__input {
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 8px;
        width: 95%;
        color: var(--neutral-700);
        margin-top: 6px;
        background-color: transparent;
        border: 0;
        outline: 0;   
        
        
        &::placeholder {
            color: transparent;
            opacity: 0;
        }

        // смещение caption при фокусе и заполненном input
        &:focus + .field-text__label .field-text__caption,
        &:not(:placeholder-shown) + .field-text__label .field-text__caption {
            top: 12px;
            font-size: 11px;
            line-height: 16px;
            color: var(--neutral-400);
        }
        // label при заполненном input
        &:not(:placeholder-shown) + .field-text__label {
            background-color: var(--primary-50);            
        }
       
    }

    &--small {
        .field-text__label {
            height: 40px;
            @include text-size('sm');
        }
        
    }
    
}

.field-checkbox {
    position: relative;

    &:hover {
        .field-checkbox__label::before {
            background-color: var(--neutral-100);
        }
        .field-checkbox__input:checked + .field-checkbox__label::before {
            background-color: var(--primary-200);
        }
    }

    &__label {
        display: flex;
        gap: 8px;
        align-items: center;
        cursor: pointer;
        
        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 6px;
            background-color: var(--neutral-60);
        }
    }

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:focus-visible + .field-checkbox__label::before {
            outline: 1px solid var(--field-ouline);
            outline-offset: 2px;
        }

        &:checked + .field-checkbox__label::before {
            background-color: var(--primary-100);
        }

        &:checked + .field-checkbox__label::after {
            content: '';
            position: absolute;
            top: 5px;
            left: 4px;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMyAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuMzI1IDEwLjE5MTJMMCA1Ljg2NjI1TDEuODY2MjUgNEw0LjMyNSA2LjQ1ODc1TDEwLjc4MzcgMEwxMi42NSAxLjg2NjI1TDQuMzI1IDEwLjE5MTJaIiBmaWxsPSIjMDA1OENDIi8+Cjwvc3ZnPgo=");
            background-repeat: no-repeat;
        }
    }
}