.main-menu {
    @media (max-width: #{ $breakpoint-md - 1px }) {
        position: fixed;
        top: 56px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--neutral-0);
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 100;        
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    

    &.is-open {
        transform: translateX(0);
    }
    

    &__list {
        display: flex;

        @media (max-width: #{ $breakpoint-md - 1px }) {
            padding-top: 48px;
            flex-direction: column;
        }        

        @media (min-width: $breakpoint-md) {
            gap: var(--spacing-32);
        }
    }


    &__item {
        border-bottom: 1px solid var(--neutral-100);

        @media (min-width: $breakpoint-md) {
            border-bottom: 0;
        }
    }

    &__item--has-children > &__link::after {
        content: '';
        width: 16px;
        height: 16px;
        @include mask-icon(var(--icon-chevron-down));
        background-color: var(--text-base);
        margin-left: auto;
        flex-shrink: 0;
        transform: rotate(-90deg);

        @media (min-width: $breakpoint-md) {
            background-color: var(--text-white);
            transform: rotate(0);
        }
    }

    &__link {
        padding: 16px;
        width: 100%;
        display: flex;
        align-items: center;        
        @include text-size('md');
        color: var(--text-base); 

        @media (min-width: $breakpoint-md) {
            padding: 0;
            height: 100%;
            gap: 2px;
            color: var(--text-white);
            @include text-size('base');
            @include text-weight('semibold');
        }
    }

    &__submenu {        
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-color: var(--neutral-0);
        transform: translateX(100%);
        transition: transform 0.3s ease;        
        list-style: none;
        overflow-y: auto;
        z-index: 1;

        &.is-open {
            transform: translateX(0);
        }

        @media (min-width: $breakpoint-md) {
            display: none;
        }
    }

    &__back-item {
        border-bottom: 1px solid var(--neutral-100);

        @media (min-width: $breakpoint-md) {
            display: none;
        }
    }

     &__back {
        display: flex;
        align-items: center;
        gap: 8px;
        width: 100%;
        padding: 16px;
        @include text-size('sm');
        background: none;        
        color: var(--text-secondary);
        cursor: pointer;

        &::before {
            content: '';
            width: 16px;
            height: 16px;
            @include mask-icon(var(--icon-chevron-down));
            background-color: var(--text-secondary);
            transform: rotate(90deg);
            flex-shrink: 0;
        }
    }

    &__btn-item {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;

        .button {
            width: 100%;
        }

        @media (min-width: $breakpoint-md) {
            display: none;
        }
    }

    

}
