// header
.main-header {
    padding: var(--spacing-4) 0;
    background-color: var(--primary-600);

    &__wrapper {
        display: flex;
        // align-items: center;
        gap: var(--spacing-32);
    }
}

.secondary-header {
    background-color: var(--neutral-50);

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

// menu
.main-menu {
    display: flex;
    gap: var(--spacing-32);

    &__link {
        display: flex;
        align-items: center;
        height: 100%;

        color: var(--text-white);
        font-size: 14px;
        font-weight: 600;
    }
}

.secondary-menu {
    display: flex;
    gap: var(--spacing-24);

    &__link {
        padding: 20px 0;
        display: block;
        color: var(--text-primary);
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;

        &--accent {
            color: var(--yellow-500);
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 7px;
    }
}

@import 'components/button';


// chip
.chip {
    padding: var(--spacing-2) var(--spacing-3);
    color: var(--text-base);

    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;

    &--small {
        font-size: 11px;
    }

    &--primary {
        background-color: var(----primary-500);
        color: var(--text-white);
    }
}