@media (min-width: $breakpoint-xs) {} // 480
@media (min-width: $breakpoint-sm) {} // 768
@media (min-width: $breakpoint-md) {} // 1024
@media (min-width: $breakpoint-lg) {} // 1280



@import 'components/mobile-burger';
// header
@import 'components/main-header';
@import 'components/secondary-header';

// menu
.main-menu {
    display: none;

    @media (min-width: $breakpoint-md) {
        display: flex;
        gap: var(--spacing-32);
    }    

    &__link {
        display: flex;
        align-items: center;
        height: 100%;

        color: var(--text-white);
        font-size: 14px;
        font-weight: 600;
    }
}

.secondary-menu {
    display: none;

    @media (min-width: $breakpoint-md) {
        display: flex;
        gap: var(--spacing-24);
    }

    &__link {
        padding: 20px 0;
        display: block;
        color: var(--text-primary);
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;

        &--accent {
            color: var(--yellow-500);
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 7px;
    }
}

@import 'components/button';
@import 'components/field';


// chip
.chip {
    padding: var(--spacing-2) var(--spacing-3);
    color: var(--text-base);

    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;

    &--small {
        font-size: 11px;
    }

    &--primary {
        background-color: var(----primary-500);
        color: var(--text-white);
    }
}

.filter {
    max-width: 958px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-8);

        @media (min-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__range {
        display: flex;
        gap: 2px;
        .field {
            flex: 1;

            &:first-child .field__label{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child .field__label{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}