@media (min-width: $breakpoint-xs) {} // 480
@media (min-width: $breakpoint-sm) {} // 768
@media (min-width: $breakpoint-md) {} // 1024
@media (min-width: $breakpoint-lg) {} // 1280



@import 'components/mobile-burger';
// header
@import 'components/main-header';
@import 'components/secondary-header';


.layout {
    display: grid;

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 298px;
        column-gap: 16px;   
    }

    @media (min-width: 1440px) { 
        column-gap: 24px;  
    }

    aside {
        display: none;
        @media (min-width: 1024px) {
            display: block;
        }
        border: 1px solid ;
    }
}

// menu
.main-menu {
    display: none;

    @media (min-width: $breakpoint-md) {
        display: flex;
        gap: var(--spacing-32);
    }    

    &__link {
        display: flex;
        align-items: center;
        height: 100%;

        color: var(--text-white);
        font-size: 14px;
        font-weight: 600;
    }
}

.secondary-menu {
    display: none;

    @media (min-width: $breakpoint-md) {
        display: flex;
        gap: var(--spacing-24);
    }

    &__link {
        padding: 20px 0;
        display: block;
        color: var(--text-primary);
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;

        &--accent {
            color: var(--yellow-500);
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 7px;
    }
}

@import 'components/button';
@import 'components/field';

.rounded-link-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;

    &__title {
        display: block;
        @include text-weight('semibold');
    }

    &__description {
        margin-top: auto;
        display: block;
        color: var(--text-secondary);
        @include text-size('sm');
    }

    &--blue {
        padding: 8px 12px 10px 12px;
        background-color: var(--primary-50);

        .rounded-link-card__title {
            color: var(--text-primary);
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &--gray {
        padding: 12px;
        background-color: var(--neutral-25);

        .rounded-link-card__title {
            margin-bottom: 8px;
            color: var(--text-base);            
        }
    }
}

// chip
.chip {
    padding: var(--spacing-2) var(--spacing-3);
    color: var(--text-base);

    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;

    &--small {
        font-size: 11px;
    }

    &--primary {
        background-color: var(----primary-500);
        color: var(--text-white);
    }
}

.crumbs {
    display: flex;

    &__item {
        display: flex;
        gap: 4px;
        align-items: center;
        padding-right: 4px;

        &::after {
            content: '';
            display: block;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: var(--neutral-200);
        }

        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.section {
    margin-bottom: 16px;
}

.filter {

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-8);

        @media (min-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__range {
        display: flex;
        gap: 2px;
        .field {
            flex: 1;

            &:first-child .field__label{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child .field__label{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 16px;    

    &__list {
        display: grid;
        row-gap: 9px;
        column-gap: 8px;
        grid-template-columns: repeat(2, 1fr);

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
        }

        li {
            min-width: 0; // хак для трех точек в конце blue-card__title
        }
    }
}

.requests {    

    &__list {
        margin-bottom: 16px;
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(1, 1fr);

        @media (min-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}



