@media (min-width: $breakpoint-xs) {} // 480
@media (min-width: $breakpoint-sm) {} // 768
@media (min-width: $breakpoint-md) {} // 1024
@media (min-width: $breakpoint-lg) {} // 1280



@import 'components/mobile-burger';
// header
@import 'components/main-header';
@import 'components/secondary-header';


.layout {
    padding: 16px 0;
    display: grid;

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 298px;
        column-gap: 16px;   
    }

    @media (min-width: 1440px) { 
        column-gap: 24px;  
    }
}

.adv-banner {
    display: block;
    border-radius: 8px;
    overflow: hidden;
}

.content {
    h1 {
        margin-bottom: 40px;
    }
    h2 {
        margin-bottom: 16px;
    }
    @media (min-width: 768px) { 
        padding-top: 16px;
    }
    @media (min-width: 1024px) {
        padding-top: 24px;
    }
    
}

.sidebar {
    display: none;

    @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    // .sidebar-block
    &-block {       
        
        &__title {
            margin-bottom: 16px;
            @include text-weight('bold');
        }

        // .sidebar-block-list
        &-list {
            display: flex;
            flex-direction: column;
            gap: 16px;

            &__link {
                @include text-size('sm');
                color: var(--text-base);
            }

            &__title {
                padding: 8px 4px;
            }

            &__news-img {
                border-radius: 8px;
                overflow: hidden;

                & + p {
                    padding: 8px 4px;
                }
            }
        }
    }
}

.rounded-gray-block {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--neutral-100);
}

// menu
.main-menu {
    display: none;

    @media (min-width: $breakpoint-md) {
        display: flex;
        gap: var(--spacing-32);
    }    

    &__link {
        display: flex;
        align-items: center;
        height: 100%;

        color: var(--text-white);
        font-size: 14px;
        font-weight: 600;
    }
}

.secondary-menu {
    display: none;

    @media (min-width: $breakpoint-md) {
        display: flex;
        gap: var(--spacing-24);
    }

    &__link {
        padding: 20px 0;
        display: block;
        color: var(--text-primary);
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;

        &--accent {
            color: var(--yellow-500);
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 7px;
    }
}

@import 'components/button';
@import 'components/field';

.rounded-link-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;

    &__title {
        display: block;
        @include text-weight('semibold');
    }

    &__description {
        margin-top: auto;
        display: block;
        color: var(--text-secondary);
        @include text-size('sm');
    }

    &--blue {
        padding: 8px 12px 10px 12px;
        background-color: var(--primary-50);

        .rounded-link-card__title {
            color: var(--text-primary);
            line-height: 24px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .rounded-link-card__description {
            display: flex;
            align-items: center;
            gap: 2px;

            &::after {
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSI1IiB2aWV3Qm94PSIwIDAgNiA1IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMy41NzYgMEw1LjI0NCAyLjQ2TDMuNTc2IDQuOTQ0SDIuNTMyTDQuMTA0IDIuNDZMMi41MzIgMEgzLjU3NlpNNC4zNDQgMi4wMjhWMi45MDRIMFYyLjAyOEg0LjM0NFoiIGZpbGw9IiM4MTk4QjEiLz4KPC9zdmc+Cg==");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &--gray {
        padding: 12px;
        background-color: var(--neutral-25);

        .rounded-link-card__title {
            margin-bottom: 8px;
            color: var(--text-base);            
        }
    }
}

.icon {
    display: block;
    width: 16px;
    height: 16px;
}

// chip
.chip {
    padding: var(--spacing-2) var(--spacing-3);
    color: var(--text-base);

    font-size: 12px;
    line-height: 16px;
    border-radius: 6px;

    &--small {
        font-size: 11px;
    }

    &--primary {
        background-color: var(----primary-500);
        color: var(--text-white);
    }
}

.crumbs {
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;

    &__item {
        display: flex;
        gap: 4px;
        align-items: center;
        padding-right: 4px;
        color: var(--text-secondary);
        @include text-size('sm');
        

        &::after {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;            
            background: radial-gradient(circle,var(--neutral-200) 0 1px,transparent 1px);
        }

        &:last-child {
            padding-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.section {
    margin-bottom: 40px;
}

.filter {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__inputs {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-8);

        @media (min-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__checkboxes {
        display: flex;
        gap: 16px;
        align-items: center;
        flex-wrap: wrap;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
    }

    &__range {
        display: flex;
        gap: 2px;

        .field-dropdown {

            &:first-child .field-dropdown__label{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child .field-dropdown__label{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
    
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 16px;    

    &__list {
        display: grid;
        row-gap: 9px;
        column-gap: 8px;
        grid-template-columns: repeat(2, 1fr);

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1280px) {
            grid-template-columns: repeat(4, 1fr);
        }

        li {
            min-width: 0; // хак для трех точек в конце blue-card__title
        }
    }
}

.companies {

    &__list {
        display: flex;
        align-items: center;
        gap: 9px;
    }

    &__item  {
        position: relative;
    }

    &__link {        
        width: 112px;
        height: 112px;        
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        background: #fff;
        border: 1px solid var(--neutral-100);
        border-radius: 12px;

        img {
            // max-width: 100%;
            // max-height: 100%;
            object-fit: contain;
        }

        &.ultra {

            &::after {
                position: absolute;
                bottom: -10px;
                padding: 3px 5px;
                content: 'ULTRA';
                color: var(--neutral-0);
                background-color: var(--yellow-400);
                border-radius: 6px;
                @include text-size('sm');
                text-transform: uppercase;
            }
        }
    }
}

.requests {    

    &__list {
        margin-bottom: 16px;
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(1, 1fr);

        @media (min-width: 480px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.linking  {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__block {
        padding-bottom: 12px;
        border-bottom: 1px solid var(--neutral-100);

        &:last-child {
            padding-bottom: 0;
            border-bottom: 0;
        }

        .small-title {
            margin-bottom: 8px;
            color: var(--text-base);
            @include text-weight('semibold');
        }

    }
    
}



