*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-500);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
  
  // &:focus {
  //   outline: 1px solid black;
  // }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}