:root {
    --color-primary: #2c3e50;
    --color-accent: #e74c3c;

    --font-family: 'Montserrat', sans-serif;

    --fw-medium:    500;
    --fw-extrabold: 800;


    // Colors
    // neutral
    --neutral-900: #14191F;
    --neutral-800: #232D38;
    --neutral-700: #27333F;
    --neutral-600: #3B4C5E;
    --neutral-500: #4E657E;
    --neutral-400: #8198B1;
    --neutral-300: #A1B2C4;
    --neutral-200: #C0CCD8;
    --neutral-100: #E0E5EB;
    --neutral-60: #EDF0F3;
    --neutral-50: #EDF0F3;
    --neutral-25: #F4F8FB;
    --neutral-25: #F7FAFD;
    --neutral-0: #FFFFFF;

    // primary
    --primary-800: #001633;
    --primary-700: #002C66;
    --primary-600: #004297;
    --primary-500: #0058CC;
    --primary-400: #338BFF;
    --primary-300: #66A8FF;
    --primary-200: #99C5FF;
    --primary-100: #CCE2FF;
    --primary-50: #E5F1FF;

    // yellow
    --yellow-600: #937006;
    --yellow-500: #C49508;
    --yellow-400: #F8CF55;
    --yellow-100: #FDF1CE;
    --yellow-50: #FEF8E7;

    // red
    --red-600: #930608;
    --red-500: #C4080B;
    --red-400: #F73D40;
    --red-100: #FDCECF;
    --red-50: #FEE7E7;

    // green
    --green-600: #108918;
    --green-500: #16B921;
    --green-400: #49E953;
    --green-100: #CCFECF;
    --green-50: #EFF2F5;



    // container
    --container-desktop: 1280px;


    // spacing
    --spacing-2: 2px;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;

    // radius
    --radius-8: 8px;

    // Text ?
    --text-base: var(--neutral-600);
    --text-white: var(--neutral-0);
    --text-primary: var(--primary-500);
}

