// breakpoints (SCSS variables)
$breakpoint-xxs: 340px;
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;

:root {
    --font-family: 'Montserrat', sans-serif;
    --fw-medium:    500;
    --fw-semibold:  600;
    --fw-bold:      700;
    --fw-extrabold: 800;


    // Colors
    // neutral
    --neutral-900: #14191F;
    --neutral-800: #232D38;
    --neutral-700: #27333F;
    --neutral-600: #3B4C5E;
    --neutral-500: #4E657E;
    --neutral-400: #8198B1;
    --neutral-300: #A1B2C4;
    --neutral-200: #C0CCD8;
    --neutral-100: #E0E5EB;
    --neutral-60: #EDF0F3;
    --neutral-50: #EFF2F5;
    --neutral-25: #F4F8FB;
    --neutral-20: #F7FAFD;
    --neutral-0: #FFFFFF;

    // primary
    --primary-800: #001633;
    --primary-700: #002C66;
    --primary-600: #004297;
    --primary-500: #0058CC;
    --primary-400: #338BFF;
    --primary-300: #66A8FF;
    --primary-200: #99C5FF;
    --primary-100: #CCE2FF;
    --primary-50: #E5F1FF;

    // yellow
    --yellow-600: #937006;
    --yellow-500: #C49508;
    --yellow-400: #F8CF55;
    --yellow-100: #FDF1CE;
    --yellow-50: #FEF8E7;

    // red
    --red-600: #930608;
    --red-500: #C4080B;
    --red-400: #F73D40;
    --red-100: #FDCECF;
    --red-50: #FEE7E7;

    // green
    --green-600: #108918;
    --green-500: #16B921;
    --green-400: #49E953;
    --green-100: #CCFECF;
    --green-75: #D9FFDB;    
    --green-50: #E8FCEA;



    // breakpoints
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1280px;

    // container
    --container-desktop: 1280px;

    // typography — размеры и веса определены в _typography.scss


    // spacing
    --spacing-2: 2px;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;

    // radius
    // --radius-6: 6px;
    // --radius-8: 8px;
    // --radius-16: 16px;

    // Text ?
    --text-base: var(--neutral-600);
    --text-white: var(--neutral-0);
    --text-primary: var(--primary-500);
    --text-secondary: var(--neutral-400);
    --text-link: var(--primary-500);
    --text-disabled: var(--neutral-300);

    // Background
    --bg-disable: var(--neutral-25);

    // field
    --field-disabled-bg: var(--neutral-25);
    --field-disabled-text: var(--neutral-300);
    --field-ouline: var(--neutral-200);
}

