.filter {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__inputs {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-8);

        @media (min-width: 1280px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__checkboxes {
        display: flex;
        gap: 8px;
        align-items: center;
        flex-wrap: wrap;

        @media (min-width: $breakpoint-sm) {
            gap: 16px;
        }
        @media (max-width: #{ $breakpoint-sm - 1px }) {
            .field-checkbox {
                &__label {                    
                    display: block;
                    padding: 8px;
                    outline: 1px solid var(--neutral-100);
                    border-radius: 8px;
                    background-color: var(--neutral-0);
                    @include text-size('sm');

                    &::before {
                        display: none;
                    }
                }

                &__input {
                    &:checked + .field-checkbox__label::after {
                        display: none;
                    }
                    &:checked + .field-checkbox__label {
                        background-color: var(--neutral-100);
                        outline: 0;
                    }
                    &:focus-visible + .field-checkbox__label {
                        outline: 1px solid var(--field-ouline);
                        outline-offset: 2px;
                    }
                }
            }
        }
        
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
    }

    &__range {
        display: flex;
        gap: 2px;

        .field-dropdown {

            &:first-child .field-dropdown__label{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
            &:last-child .field-dropdown__label{
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    &__results-chips {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }
    
}