.results {

    &__title {
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .results-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

}