.special-offers {

    &__list {
        max-width: 340px;

        @media (min-width: $breakpoint-sm) {
            max-width: none;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__prev,
    &__next {
        width: 24px;
        height: 24px;
        border: none;
        border-radius: 50%;
        background-color: var(--neutral-60);        
        cursor: pointer;
        pointer-events: all;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 7px;
            height: 7px;
            border-top: 2px solid var(--text-base);
            border-right: 2px solid var(--text-base);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &.swiper-button-disabled {
            opacity: 0.3;
            cursor: default;
        }
    }

    &__prev::after {
        transform: translate(-35%, -50%) rotate(-135deg);
    }

    &__next::after {
        transform: translate(-65%, -50%) rotate(45deg);
    }
}

.special-item {
    display: flex;
    height: auto;
    flex-direction: column;
    border-radius: 16px;
    background-color: var(--neutral-25);
    overflow: hidden;

    &:has(.special-item__title:hover) .special-item__img img {
        transform: scale(1.1);
    }

    &__link {
        margin-bottom: 4px;
        display: block;        
        color: var(--text-base);
        @include text-weight('semibold');

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }

    &__title {
        display: block;
        margin-bottom: 4px;
        @include text-weight('semibold');
        color: var(--text-base);
        transition: color var(--transition-hover);  
        
        &:hover {
            color: var(--link-hover);
        }
    }

    &__img {
        display: block;
        height: 190px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: transform var(--transition-hover);
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        &:hover + .special-item__description {
            .special-item__title {
                color: red;
            }
        }
    }

    &__cities {
        margin-bottom: 8px;
        color: var(--text-disabled);
        @include text-size('sm');
    }

    &__action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: auto;
    }

    &__price {
        @include text-size('lg');
        @include text-weight('bold');

        i {
            font-style: normal;
            @include text-weight('base');
        }
    }

    &__description {
        padding: 12px;
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}