.special-offers {
    
    &__list {
        max-width: 340px;

        @media (min-width: $breakpoint-sm) {
            max-width: none;  //  разрывает вёрстку на 768
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
    }

    &__slider {
        max-width: 100%;

        @media (min-width: 1024px) {
            max-width: 958px;
        }
    }

    &__prev,
    &__next {
        width: 24px;
        height: 24px;
        border: none;
        border-radius: 50%;
        background-color: var(--neutral-60);        
        cursor: pointer;
        pointer-events: all;
        position: relative;

        &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            @include mask-icon(var(--icon-chevron-down));
            background-color: var(--text-base);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &.swiper-button-disabled {
            opacity: 0.3;
            cursor: default;
        }
    }

    &__prev::after {
        transform: translate(-50%, -50%) rotate(90deg);
    }

    &__next::after {
        transform: translate(-50%, -50%) rotate(-90deg);
    }
}

